In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#import the python library pandas
import pandas as pd 

#here i set limits on what i allow the phyton to show in tables
from pandas import set_option
set_option('display.max_rows',10) 
#limits rows show in tablle by 10(above). change this number if you want more or less rows visible

#import weather data to python. 
weather_data_quest = pd.read_csv('QuestU_Remote_Weather_Station_oct312015.csv',index_col='Date_Time')

#show what the table of weather_data_quest looks like. 
weather_data_quest

,#,Rain_mm,Temp_°C,RH_%,Wind_Direction_ø,Wind_Speed_m/s,Gust_Speed_m/s
Date_Time,,,,,,,
09/23/15 09:04:59 AM,1,NaN,12.243,84.6,64.6,0.76,6.30
09/23/15 09:19:59 AM,2,0.0,12.316,84.4,92.7,0.00,0.76
09/23/15 09:34:59 AM,3,0.0,12.340,84.7,1.4,0.00,1.51
09/23/15 09:49:59 AM,4,0.0,12.074,84.6,7.0,0.00,1.26
09/23/15 10:04:59 AM,5,0.0,12.413,86.3,325.7,0.00,1.26
...,...,...,...,...,...,...,...
10/31/15 01:04:59 PM,3665,0.0,13.281,91.5,88.4,0.00,0.50
10/31/15 01:19:59 PM,3666,0.2,12.654,94.5,99.7,0.00,1.51
10/31/15 01:34:59 PM,3667,0.0,12.122,97.9,233.1,0.00,1.76
10/31/15 01:49:59 PM,3668,0.2,11.880,98.2,203.6,0.00,2.52
10/31/15 02:04:59 PM,3669,0.4,11.734,98.1,140.4,0.00,0.50